body{
    background-color: aquamarine;
}

div{
    width: 600px;
    margin: auto;
}

input{
    margin-left: 140px;
}

li:nth-child(odd){
    background: url("img/pose_shinpai_fukidashi_man.png");
    width: 200px;
    height: 60px;
    padding: 90px 30px 140px 80px;
    list-style: none;
}

li:nth-child(even){
    background: url("img/text_tobidashi_chuui_blank.png");
    width: 200px;
    height: 60px;
    padding: 90px 30px 115px 80px;
    list-style: none;
}