div{
    background: url("img/pose_shinpai_fukidashi_man.png");
    width: 600px;
    margin: auto;
}

input{
    margin-left: 240px;
}

body{
    width: 300px;
    height: 300px;
    padding: 190px 130px 140px 180px;
    list-style: none;
}